<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>output</title>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
		{{script | safe}}
	</head>
	<body>
		<div>
  			<h1>Wrong Ticker</h1>
				<div class=metanav>
					<h4>
						please enter a right ticker
					</h4>
					<form id='mainpage' method='post' action='mainpage' >
						<p>
							<button type='goback'>Back</button>
						</p>
					</form>
				</div>
		</div>
	</body>
</html>
