<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>user input</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>A template for future app</h1>
				<div class=metanav>
					<h4>
						Please enter a stocker ticker (eg. GOOG, MSFT, FB, etc), you'll get the closing price of that stock in the past month
					</h4>
					<form id='ticker' method='post' action='output' >
						<p>
							Ticker symbol: <input type='text' name='ticker_symbol' />
						</p>
						<p>
							<input type='submit' value='Submit'/>
						</p>
					</form>
				</div>
		</div>
	</body>
</html>
