<html>
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>{{ title }}</h1>
      <form id='mainpage' method='post' action='mainpage' >
        <p>
          <button type='goback'>Back</button>
        </p>
      </form>
      {{ div | safe }}
    </div>
  </body>
</html>
